
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Michaela's Project 1 - About Me Page!</title>
    </head>
    <body>
        <div>Hello, Welcome to Michaela's Project 1! This is the about me page!</div>
        <p> I like taking pictures... </p>
        <p> But first...here is a random cat fact!</p>
        <p id="catFact">Thinking of a cat fact...</p>
		<script type="text/javascript" src="/scripts/catFact.js"></script>
		<img src="/images/IMG_0964.PNG"><img>
        <img src="/images/01.PNG"><img>
        <img src="/images/02.PNG"><img>
		<img src="/images/3.PNG"><img>
    </body>
	
</html>